.styledList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.styledItem {
    display: flex;
    justify-content: space-between;
    width: 800px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border: rgb(0, 0, 0) solid 1px;
}
.styledText {
    text-align: start;
}

.deleteButton{
    padding: 10px 60px;
    background-color: rgb(0, 221, 0);
    border: none;
    border-radius: 4px;
    color:#fff;
}

.completedText {
    text-decoration: line-through;
    color: gray;
}